body, input, button {
    font-family: Ubuntu, Arial;
}

body {
    background: #c0c0c0;
    color: #C0C0C0;
}

.contact, .contact-form {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: #444;
}

.contact {
    vertical-align: middle;
    padding: 5px;
    margin: 10px;
    min-width: 200px;
    width: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.contact:not(.inactive):hover {
    background: #222;
}

.contact span {
    display: block;
    font-size: 0.8em;
}

.contact img {
    float: left;
    margin: 5px;
    background: #000;
    width: 50px;
    height: 50px;
}

.contact .delete {
    position: absolute;
    top: -10px;
    color: #fff;
    background: #c00;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    border-radius: 100%;
    right: -10px;
    font-weight: bold;
    border: 2px solid #333
}

.contact.inactive {
    cursor: default;
    opacity: 0.5;
}

.contact.inactive .delete {
    display: none;
}

.contact-form {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    float: left;
}

.contact-form h2 {
    font-size: 1.1em;
    margin: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.contact-form input, .contact-form button {
    display: block;
    margin: 5px;
    border: 1px solid #888;
    background: #F0F0F0;
    color: #666;
}
.contact-form input[type=text] {
    padding: 0.3em;
    border-radius: 0.3em
}

.contact-form img {
    background: #000;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact-form button  {
    margin-left: auto;
    margin-right: auto;
    background: #222;
    color: #C0c0c0;
    cursor: pointer;
}

li {
    display: inline-block;
}